.fullscreen-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1400px;
  text-align: center;
  margin-top: 30vh;

  @media only screen and (max-width: 811px) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    text-align: center;
    margin-top: 0rem;
  }
}

.big-header {
  font-family: all-round-gothic;
  font-weight: 400;
  font-size: 5rem;
  margin-top: 3rem;
  padding: 2rem;
  @media only screen and (max-width: 768px) {
    margin-top: 1rem;
    font-size: 4rem;
    padding: 0.5rem;
  }
}

.typeform-modal {
  max-width: 620px;
  max-height: 650px;
  @media only screen and (max-width: 811px) {
    width: 30vw;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
  }
}

.section-header {
  font-family: all-round-gothic;
  font-weight: 400;
  font-size: 4rem;
  text-align: left;
  @media only screen and (max-width: 811px) {
    font-size: 3rem;
  }
}
